// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right-border {
  border-right: solid 2px black;
  height: 100vh;
}

.bold {
  font-weight: bold;
}